:root {
  --light-bg: #f4f4f4;
  --light-text: #333;
  --light-container: #fff;
  --light-history: #f0f0f0;

  --dark-bg: #121212;
  --dark-text: #eee;
  --dark-container: #1f1f1f;
  --dark-history: #2c2c2c;

  --sale-color: rgb(48, 94, 48);
  --purchase-color: rgb(61, 61, 131);
  --expense-color: rgb(116, 40, 40);
  --delete-btn-bg: rgb(163, 77, 94);
}
body {
  font-family: sans-serif;
  margin: 0;
  background: var(--light-bg);
  color: var(--light-text);
  transition: 0.3s;
}

.dark {
  background: var(--dark-bg);
  color: var(--dark-text);
}

.container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background: var(--light-container);
  border-radius: 8px;
  margin-top: 20px;
}

.dark .container {
  background: var(--dark-container);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form,
.summary,
.tips {
  margin: 20px 0;
}

form input,
form select,
form button {
  padding: 10px;
  margin: 5px 0;
  width: 95%;
}

#history li {
  background: var(--light-history);
  padding: 10px;
  border-left: 5px solid;
  margin-bottom: 5px;
  position: relative;
}

.dark #history li {
  background: var(--dark-history);
}

#history li.sale {
  border-color: var(--sale-color);
}

#history li.purchase {
  border-color: var(--purchase-color);
}

#history li.expense {
  border-color: var(--expense-color);
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--delete-btn-bg);
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
