:root {
  --light-bg: #f4f4f4;
  --light-text: #333;
  --light-container: #fff;
  --light-history: #f0f0f0;

  --dark-bg: #121212;
  --dark-text: #eee;
  --dark-container: #1f1f1f;
  --dark-history: #2c2c2c;

  --sale-color: rgb(48, 94, 48);
  --purchase-color: rgb(61, 61, 131);
  --expense-color: rgb(116, 40, 40);
  --delete-btn-bg: rgb(163, 77, 94);
}
